@model Hotel.Models.Room_bookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room_bookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check_in)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check_in)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check_out)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
